<h1>Angular</h1>
<!-- <star></star><br/>
<movie></movie>
<br/> -->
<!-- <br/>
<input type="text" [(ngModel)]="title">
<br/>
{{ title | titleCase }} -->
<star [is-liked]="post.isLiked"  (change)="onLikedChanged($event)"></star>
<bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>Some content here...</p>
    </div>
</bootstrap-panel>
<heart
[likesCount]="tweet.likesCount"
[isLoved]="tweet.isLoved"></heart>

<!-- ngIf displays the div only if the condition is fullfilled
the * indicate that the ngIf is gonna modify the DOM -->
<!-- <div *ngIf="courses.length>0">
    List of courses
</div>
<div *ngIf="courses.length==0">
    No courses yet
</div> -->

<!-- other way -->
<!-- <br/>
<div *ngIf = "courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
    List of courses
</ng-template>
<ng-template #noCourses>
    No courses yet
</ng-template> -->

<!-- other way
Warning, with that method the element is still in the DOM, just hidden-->

<!-- <div [hidden]="courses.length==0">
    List of courses
</div>
<div [hidden]="courses.length>0">
    No courses yet
</div> -->


<ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map view</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List view</a></li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map view content</div>
    <div *ngSwitchCase="'list'">List view content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div>


<button (click)="onAdd()">Add</button>
<ul>
    <li *ngFor="let course of courses2; index as i; even as isEven">
        {{i}} - {{course.name}} <span *ngIf="isEven">(EVEN)</span><button (click)="onRemove(course)">Remove</button>
    </li>
</ul>

<button (click)="loadCourses()">Load Courses</button>
<ul>
    <li *ngFor="let course of courses3; trackBy: trackCourse">
        {{ course.name }}
    </li>
</ul>

<zippy title="Shipping Details" class = "ship">
    Shipping details content
</zippy>
<zippy title="Billing Details" class="bill">
    Billing details content
</zippy>
<br>
<br>
<br>
<contact-form></contact-form>
<br>
<br>
<courses-form></courses-form>
<br><br>
<signup-form></signup-form>
<br><br>
<new-course-form></new-course-form>
<br><br>
<change-password></change-password>
